<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @page.number %>
</p>

<p>
  <b>Next number:</b>
  <%= @page.next_number %>
</p>

<p>
  <b>Prev number:</b>
  <%= @page.prev_number %>
</p>

<p>
  <b>Subpages:</b>
  <ul>
  <% @page.subpages.each do |subpage| %>
    <li><%= link_to subpage.number.to_s + '/' + subpage.subnumber.to_s, subpage %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
